# Virtual environment
/venv/
venv/
env/
ENV/

# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.so

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Project specific
*.csv
*.log
/template/
/content/